// .movie-list {
//     -webkit-animation: header__banner 1s 2.5s backwards;
//     animation: header__banner 1s 2.5s backwards;
// }

.movieRow {
    display: flex;
    flex-flow: row;
    margin: 10px 0;
    width: 100%;
    overflow-x: scroll;
}

.gender {
    margin-left: 15px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

@media (min-width: 768px) {
    .gender {
        margin-left: 15px;
        font-size: 28px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: white;
    }
}
