.sidenav-container {
  height: 100%;
  background-color: rgba(26, 24, 24, 0.815);
}

.sidenav {
  width: 200px;
  background-color: rgba(0, 0, 0, 0.7);
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar {
  margin: -2.5% 0;
  margin-bottom: -50px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.toolbar {
  background-color: transparent;
}

.header_change .toolbar {
  position: fixed;
  transition: background 1.25s;
  background: rgba(0, 0, 0, 0.8);
}

.icon-menu,
.img_logo {
  display: flex;
  margin-top: 5%;

  li.active {
    a {
      color: white;
    }
  }

  ul {
    list-style: none;
    flex: 1;
    margin-right: 10px;
    display: flex;
    align-items: center;

    li a {
      margin-right: 15px;
      justify-content: space-between;
      display: inline-block;
      font-size: 8px;

      mat-icon {
        font-size: 30px;
        margin-top: 5px;
        font-weight: 600;
        color: gray;
      }
    }
  }
}

mat-nav-list {
  span {
    display: flex;
    justify-content: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;;
  }
  a {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;;
  }
  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 5%;
  }
}

mat-icon {
  margin-top: 10%;
  color: gray;
}

mat-toolbar {
  display: flex;
  width: 100%;
  transition: background 1.25s;
  background: transparent;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  padding: 10px;
}

img {
  margin-left: 52px;
  height: 50px;
  width: 60px;
  margin-bottom: 7%;
}

@media (max-width: 320px) {
  .toolbar {
    display: flex;
    justify-content: space-between;

    mat-icon {
      font-size: 1.25rem;
    }
    img {
      margin-left: 2rem;
      height: 3rem;
      width: 3rem;
      padding-top: -30px;
    }
  }
  .icon-menu,
  .img_logo {
    display: flex;
    margin-top: 5%;

    ul {
      list-style: none;
      margin-right: 10px;
      display: flex;
      align-items: center;

      li a {
        margin-right: 1px;

        mat-icon {
          font-size: 20px;
          margin-bottom: 1rem;
          font-weight: 600;
          color: gray;
        }
      }
    }
  }
}

@media (min-width: 600px) {
  .toolbar {
    display: flex;
    justify-content: space-between;
    margin-top: -2rem;
    height: 7rem;

    mat-icon {
      font-size: 2.5rem;
      padding: 20px 20px;
    }
    img {
      margin-left: 9rem;
      height: 5rem;
      width: 5rem;
      padding-top: -30px;
    }
  }
  .icon-menu,
  .img_logo {
    display: flex;
    margin-top: 5%;

    ul {
      list-style: none;
      flex: 1;
      margin-right: 10px;
      display: flex;
      align-items: center;

      li a {
        margin-right: 15px;
        justify-content: space-between;
        display: inline-block;
        font-size: 8px;

        mat-icon {
          font-size: 2.5rem;
          margin-bottom: 2rem;
          font-weight: 600;
          color: gray;
        }
      }
    }
  }
}

@media (min-width: 728px) {
  mat-nav-list {
    span {
      display: flex;
      font-size: 22px;
      justify-content: center;
      color: white;
      font-style: oblique;
    }
    a {
      font-size: 22px;
      color: white;
    }
    img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      margin-top: 5%;
    }
  }
}