.fade-out-fwd {
	-webkit-animation: fade-out-fwd 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.5s backwards;
	        animation: fade-out-fwd 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.5s backwards;
            margin-bottom: -26rem;
}

@-webkit-keyframes fade-out-fwd {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateZ(80px);
              transform: translateZ(80px);
      opacity: 0;
    }
  }
  @keyframes fade-out-fwd {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateZ(80px);
              transform: translateZ(80px);
      opacity: 0;
    }
  }